<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-6 offset-sm-3 col-md-4 offset-md-4">
      <div class="card">
        <form class="form-group" [ngClass]="{'rtl': selectedLanguage == 'ar'}" >
          <label for="lang">{{'Select Language'|translate}}</label>
          <select class="form-control" name="lang" tabindex="1" [(ngModel)]="selectedLanguage" [autofocus]="true" (change)="OnChangeLanguage()">
            <option value="en">{{'English'||translate}}</option>
            <option value="ar">{{'Arabic'|translate}}</option>
            <option value="fr">{{'French'|translate}}</option>
          </select>
          <label for="username" class="mt-2">{{'Username'|translate}}</label>
          <input type="text" name="username" class="form-control" tabindex="2" placeholder="{{'Enter Username'|translate}}">
          <label for="username" class="mt-2">{{'Password'|translate}}</label>
          <input type="text" name="username" class="form-control" tabindex="3" placeholder="{{'Enter Password'|translate}}">
          <button class="btn btn-success mt-2" tabindex="4">
            {{'Submit'|translate}}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
